/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    text-transform: uppercase;
    color: yellow;
}

.viewport {
    width: 100%;
    height: 100vh;
}

.img-size {
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center;
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.position-relative {
    position: relative;
}

/* body */
body {
    font-family: 'Rubik Mono One', sans-serif;
}

/* nav */
nav {
    z-index: 1;
    position: fixed;
    right: 2%;
    top: 10%;
}

#list-item li {
    display: inline-block;
    list-style: none;
}

#list-item a {
    padding: 15px;
    margin-left: 30px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 50%;
}

/* main */
#red {
    background-color: red;
}

div#superga {
    background-image: url(../img/01.png);
}

#green {
    background-color: green;
}

div#tommy {
    background-image: url(../img/02.png);
}

#yellow {
    background-color: yellow;
}

div#allstar {
    background-image: url(../img/03.png);
}

#yellow h2 {
    color: green;
}

