/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    text-transform: uppercase;
    color: yellow;
}

.viewport {
    width: 100%;
    height: 100vh;
}

.content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
}

.position-relative {
    position: relative;
}

img {
    width: 80%;
}

a:hover {
    cursor: pointer;
}

/* body */
body {
    font-family: 'Rubik Mono One', sans-serif;
}

/* nav */
nav {
    z-index: 1;
    position: fixed;
    right: 2%;
    top: 10%;
}

#list-item li {
    display: inline-block;
    list-style: none;
}

#list-item a {
    padding: 15px 20px;
    margin-left: 30px;
    font-size: 15px;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 50%;
}

/* main */
#red {
    background-color: red;
}

#green {
    background-color: green;
}

#yellow {
    background-color: yellow;
}

#yellow h2 {
    color: green;
}